<div tpl-if="$edit" id="content">

    <div tpl-if="$errors" id="error-block">
        <div tpl-foreach="$errors as $error">
            {{$error}}
        </div>
    </div>

    <form method="post" action="?cmd=save">
        <input tpl-if="$contact->id" type="hidden" name="id" value="{{$contact->id}}">

        <table class="form-table">
            <tbody>
            <tr>
                <td>Eesnimi:</td>
                <td><input type="text" name="firstName" value="{{$contact->firstName}}"></td>
            </tr>
            <tr>
                <td>Perekonnanimi:</td>
                <td><input type="text" name="lastName" value="{{$contact->lastName}}"></td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td>
                    <input type="text" name="phone1" value="{{$contact->phone1}}">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="text" name="phone2" value="{{$contact->phone2}}">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="text" name="phone3" value="{{$contact->phone3}}">
                </td>
            </tr>
            <tr>
                <td colspan="2"><br><input name="submitButton" type="submit" value="Salvesta"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
