<div tpl-if="$contacts" id="content">

    <div tpl-if="$message" id="message-block">
        Uuendatud!
    </div>

    <table tpl-if="$contacts" class="list-table">
        <thead>
            <tr>
                <th scope="col">Eesnimi</th>
                <th scope="col">Perekonnanimi</th>
                <th scope="col">Telefon</th>
            </tr>
        </thead>

        <tbody>
        <tr tpl-foreach="$contacts as $contact">

            <td scope="col">
                <a href="?cmd=edit_page&amp;person_id={{$contact->id}}">
                    {{$contact->firstName}}
                </a>
            </td>

            <td scope="col">{{$contact->lastName}}</td>

            <td scope="col">
                <span tpl-if="$contact->phone1">{{$contact->phone1}}</span>
                <span tpl-if="$contact->phone2">, {{$contact->phone2}}</span>
                <span tpl-if="$contact->phone3">, {{$contact->phone3}}</span>
            </td>

        </tr>
        </tbody>
    </table>

</div>